src/Resources/config/WSDL/edisc.xsd

<?xml version="1.0" encoding="utf-8"?>

<!--
Description:	Electronic Discharge (eDISC) document
Last updated: September 22, 2017
Version#:	    1.17 (version #.yy)
-->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="instrumentsType">
    <xs:sequence>
      <xs:element type="char1_12Type" name="InstrumentNumber" maxOccurs="7"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Data_eForm_Discharge">
      <xs:all>
        <xs:element type="char0_50Type" name="CustomerFileNumber" minOccurs="0"/>
        <xs:element type="instrumentsType" name="Instruments"/>
      </xs:all>
  </xs:complexType>

</xs:schema>